@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-200 text-zinc-300;
  }
}

.containers {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #170029;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 14px;
}
